:root {
    --checkbox-border-color: #4A5846;
    --checkbox-checked-fill: #4A5846;
    --cream-color: #fffce2;
    --transparent-green: #4A5846CC;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #9AAB89;
    font-family: "Roboto Mono", "Courier New", Courier, monospace;
    color: var(--checkbox-border-color);
    -webkit-user-drag: none;
    user-select: none;
}

form {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    justify-content: center;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;   
    padding-bottom: 13px;
}

button:focus {
    outline: none;
    border: none;
    transform: scale(1.1);
    transition: transform 0.1s ease;
}

button:hover {
    outline: none;
    transform: scale(1.1);
    transition: transform 0.1s ease;
}

input[type="checkbox"] {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 3px;
    padding: 0;
    border: 2px solid var(--checkbox-border-color);
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
    border-radius: 5px;
}

input[type="checkbox"]:checked {
    background-size: contain;
    background-color: var(--transparent-green);
    background-position: center;
    padding: 2px;
}

input[type="checkbox"]:focus {
    outline: none;
    font-family: "Roboto Mono";
    /* box-shadow: 0 0 8px #4A584666; */
    transform: scale(1.1)
}

input[type="checkbox"]:hover {
    outline: none;
    transform: scale(1.1)
}

input[type="checkbox"]:checked:hover {
    outline: 2px solid var(--checkbox-border-color);
    transform: scale(1);
    outline-offset: 2px;
}

input[type="checkbox"]:disabled {
    appearance: none;
    background-color: #4A58464D;
    border: transparent;
}

input[type="checkbox"]:disabled:hover {
    transform: scale(1)
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
}

.checkbox-label:has(input[type="checkbox"]:disabled) {
    text-decoration: line-through;
    color: #626b5f;
    -webkit-user-drag: none;
}

.slider {
    appearance: none;
    width: 200px;
    height: 8px;
    background: var(--cream-color);
    border-radius: 15px;
}

.copy_regenerate {
    margin-top: 10px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--checkbox-border-color);
    cursor: pointer;
    border-radius: 20px;
}

.slider:hover::-webkit-slider-thumb,
.slider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 8px #4A584680;
    transform: scale(1.1)
}

input[type="number"] {
    appearance: none;
    background: var(--cream-color);
    border: var(--checkbox-checked-fill);
    height: 20px;
    width: 50px;
    border-radius: 5px;
    font-family: "Roboto Mono";
    color: var(--checkbox-border-color);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus {
    outline: none;
    font-family: "Roboto Mono";
    box-shadow: 0 0 8px #4A5846CC;
}

input[type="range"]:focus {
    outline: none;
    font-family: "Roboto Mono";
    /* box-shadow: 0 0 8px #4A5846CC; */
}

.length_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.setting_checks {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: -1rem;
    width: 100%;
}

.header_settings {
    display: flex;
    justify-content: space-between;
    width: 590px;
}

.length_picker {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="radio"] {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    outline: 2px solid var(--checkbox-border-color);
    background: transparent;
}

input[type="radio"]:hover {
    transform: scale(1.1);
}

input[type="radio"]:checked:hover {
    outline: 2px solid var(--checkbox-border-color);
    transform: scale(1);
    outline-offset: 2px;
}

input[type="radio"]:checked {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    outline: 2px solid var(--checkbox-border-color);
    background: var(--transparent-green);
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
}

::selection {
    background: var(--transparent-green);
    color: var(--cream-color);
}

.password-display {
    user-select: all;
    -webkit-user-select: all;
    -webkit-user-drag: false;
    width: 565px;
    height: 40px;
    background-color: var(--cream-color);
    color: var(--transparent-green);
    border-radius: 4px;
    font-size: 1rem;
    padding: 0 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2px;
    margin-top: -25px;
}

key {
    color: var(--cream-color);
    background-color: var(--transparent-green);
    padding: .2rem .3rem;
    border-radius: .2rem;
    font-size: .7rem;
    line-height: .7rem;
    margin: 0 .5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

footer {
    font-size: .8rem;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.copied_alert {
    color: var(--cream-color);
    background-color: var(--transparent-green);
    padding: 0.2rem 0.4rem;
    margin: 0 auto 0.5rem auto;
    width: max-content;
    border-radius: 0.2rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
}

.inner_text {
    display: inline-block;
    transform: translate(1px, -1px);
}


.copied_alert.visible {
    opacity: 1;
    pointer-events: auto;
}

.spacer {
    padding: 2px;
}
  
@media (max-width: 500px) {
    form {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        padding: 1rem;
        width: 90vw;
        box-sizing: border-box;
    }
  
    .password-display {
        width: 285px;
        height: 80px;
        word-break: break-word;
    }

    .header_settings {
        display: flex;
        justify-content: flex-start;
        margin-top: -15px;
        width: 100%
    }

    .copy_regenerate {
        display: flex;
        bottom: -60px;
        position: fixed;
        width: 100%;
        justify-content: center;
      }

    .setting_checks input[type="radio"] {
        flex-shrink: 0;
    }

    key {
        display: none;
    }

    .key_hint_text {
        display: none;
    }

}

.github-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4px;
    color: var(--checkbox-border-color);
    padding-top: 5px;
    padding-bottom: -2px;
    text-decoration: none;
    margin-bottom: 8px;
    font-family: inherit;
    width: fit-content;
}

.github-icon {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.github-link:hover {
    color: var(--cream-color);
    transition: color 0.4s linear;
}

.github-link .hover {
    position: relative;
    filter: url(#recolorFFFCE2);
    opacity: 0;
    transition: opacity 0.4s linear;
    pointer-events: none;
    will-change: opacity;
}
  
.github-link .default {
    position: relative;
    filter: url(#recolor4A5846);
    opacity: 1;
    transition: opacity 0.4s linear;
    pointer-events: none;
    will-change: opacity;
}
  
.github-link:hover .hover {
    opacity: 1;
    transition: opacity 0.4s linear;
}
  
.github-link:hover .default {
    opacity: 0;
    transition: opacity 0s;
}