:root {
    --checkbox-border-color: #4A5846;
    --checkbox-checked-fill: #4A5846;
    --cream-color: #fffce2;
    --transparent-green: #4A5846CC;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #9AAB89;
    font-family: "Roboto Mono", "Courier New", Courier, monospace;
    color: var(--checkbox-border-color);
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;   
}

input[type="checkbox"] {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 3px;
    padding: 0;
    border: 2px solid var(--checkbox-border-color);
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
    border-radius: 5px;
}

input[type="checkbox"]:checked {
    background-size: contain;
    background-color: var(--transparent-green);
    background-position: center;
    padding: 2px;
}

input[type="checkbox"]:focus {
    outline: none;
    font-family: "Roboto Mono";
    /* box-shadow: 0 0 8px #4A584666; */
    transform: scale(1.1)
}

input[type="checkbox"]:hover {
    outline: none;
    transform: scale(1.1)
}

input[type="checkbox"]:checked:hover {
    outline: 2px solid var(--checkbox-border-color);
    transform: scale(1);
    outline-offset: 2px;
}

input[type="checkbox"]:disabled {
    appearance: none;
    background-color: #4A58464D;
    border: transparent;
}

input[type="checkbox"]:disabled:hover {
    transform: scale(1)
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
}

.checkbox-label:has(input[type="checkbox"]:disabled) {
    text-decoration: line-through;
    color: #626b5f;
}

.slider {
    appearance: none;
    width: 200px;
    height: 8px;
    background: var(--cream-color);
    border-radius: 15px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--checkbox-border-color);
    cursor: pointer;
    border-radius: 20px;
}

.slider:hover::-webkit-slider-thumb,
.slider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 8px #4A584680;
    transform: scale(1.1)
}

input[type="number"] {
    appearance: none;
    background: var(--cream-color);
    border: var(--checkbox-checked-fill);
    height: 20px;
    width: 50px;
    border-radius: 5px;
    font-family: "Roboto Mono";
    color: var(--checkbox-border-color);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus {
    outline: none;
    font-family: "Roboto Mono";
    box-shadow: 0 0 8px #4A5846CC;
}

input[type="range"]:focus {
    outline: none;
    font-family: "Roboto Mono";
    /* box-shadow: 0 0 8px #4A5846CC; */
}

.split_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.length_group,
.radio_group,
.checkbox_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.length_picker {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="radio"] {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    outline: 2px solid var(--checkbox-border-color);
    background: transparent;
}

input[type="radio"]:hover {
    transform: scale(1.1);
}

input[type="radio"]:checked:hover {
    outline: 2px solid var(--checkbox-border-color);
    transform: scale(1);
    outline-offset: 2px;
}

input[type="radio"]:checked {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    outline: 2px solid var(--checkbox-border-color);
    background: var(--transparent-green);
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
}